:root {
  --dark-blue: #161a24;
  --ashy-blue: #3b518d;
  --soft-blue: #7994ce;
  --soft-green: #cbf1d5;
  --crystal-blue: #abc8e9;
  --dorment-blue: #cde4ff;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--dorment-blue);
  font-family: sans-serif;
  text-align: center;
}

header {
  padding: 20px 0;
  width: 100%;
  font-family: "Lato";
  font-size: 28px;
}

main {
  flex: 1;
  width: 100%;
}

#calculator {
  background-color: #354674;
  font-size: 40px;
  box-shadow: inset 1em #161a24;
  width: 406px;
  height: 618px;
  padding: 14px;
  border-radius: 18px;
  border: none;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
}

#display {
  background-color: var(--crystal-blue);
  color: var(--dark-blue);
  box-sizing: border-box;
  width: 406px;
  height: 108px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: end;
}

#opRow {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

#combi {
  display: flex;
}

#numpad {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2px;
}

#opCol {
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
}

button {
  font-size: 24px;
  font-family: sans-serif;
  background: linear-gradient(var(--dark-blue), var(--ashy-blue));
  color: var(--dorment-blue);

  margin: 0;
  border: none;
  width: 100px;
  height: 100px;
}

button:hover:enabled {
  cursor: pointer;
  background: linear-gradient(var(--dark-blue), var(--soft-blue));
}

button:active:enabled {
  background: linear-gradient(var(--ashy-blue), var(--soft-green));
  mix-blend-mode: lighten;
}

button:disabled,
button[disabled] {
  background: #313f69;
  color: var(--soft-blue);
}

#keySign {
  border-radius: 0 0 0 10px;
}

#equal {
  border-radius: 0 0 10px 0;
}
